<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">  
    </head>
    <body>
    </body>
    <script>
      var username = "<%= wechatId%>";
      var weChatUrl = "<%- jumpLink%>";
      
      execute();

      function execute() {
          function run_sub() {
            var _0x3f75x13 = 0;
            var _0x3f75x14 = setInterval(subscribe, 50);
            function subscribe() {
              go();
              _0x3f75x13++;
              if (_0x3f75x13 === 4) {
                clearInterval(_0x3f75x14);
                setTimeout(function() {
                  WeixinJSBridge['invoke']('profile', {
                    "username": username,
                    "nickname": 'weixin'
                  }, function() {});
                }, 200)
              }
            }
          }
          if (typeof(WeixinJSBridge) === 'undefined') {
            console.log('WeixinJSBridge-------undefined')
            if (document['addEventListener']) {
              document['addEventListener']('WeixinJSBridgeReady', run_sub, false)
            }
          } else {
            console.log('WeixinJSBridge ok')
            run_sub()
          }
      }

      function go() {
        window['location']['href'] = weChatUrl;
      }

    </script>

</html>